<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- I don't think this works for .NET 8. I just manually name the files as it expects. -->
	<dllmap dll="SDL3" os="windows" target="SDL3.dll"/>
	<dllmap dll="SDL3" os="osx" target="libSDL3.dylib"/>
	<dllmap dll="SDL3" os="linux,freebsd,netbsd" target="libSDL3.so"/>

	<dllmap dll="FNA3D" os="windows" target="FNA3D.dll"/>
	<dllmap dll="FNA3D" os="osx-x64,osx-arm64" target="libFNA3D.dylib"/>
	<dllmap dll="FNA3D" os="linux,freebsd,netbsd" target="libFNA3D.so"/>

	<dllmap dll="FAudio" os="windows" target="FAudio.dll"/>
	<dllmap dll="FAudio" os="osx-x64,osx-arm64" target="libFAudio.dylib"/>
	<dllmap dll="FAudio" os="linux,freebsd,netbsd" target="libFAudio.so"/>

	<!-- Deprecated! -->
	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="libSDL2.dylib"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" target="libSDL2.so"/>
</configuration>
